<section>
    <div class="section-1">

        <div class="cake-img-home">
            <img src="../../public/img/cake-home.png" />
        </div>

      <h1 class="title-home">Um Mundo de Sabores<br>
        Ao Seu Alcance!</h1>
        
        <p class="phrase-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor<br> incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>

        <div class="container-button-homepage">
          <a href="/receitas" class="no-underline">
            <button class="button-homepage">
                <p class="text-button-homepage">Ver Mais</p>
            </button>
          </a>
        </div>
    </div>
  </section>
    
    <!-- <div class="section-two"> -->
      <!-- <div class="cake-img-home">
        <img src="../../public/img/cake-home.png" />
    </div>

  <h1 class="title-home">Um Mundo de Sabores<br>
    Ao Seu Alcance!</h1>
    
    <p class="phrase-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor<br> incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>

    <div class="container-button-homepage">
      <button class="button-homepage">
          <p class="text-button-homepage">Ver Mais</p>
      </button>
    </div> -->
    <!-- </div> -->



    <!-- <div class="section-three"> -->
      <!-- Conteúdo da terceira seção -->
    <!-- </div> -->
  
  